node-red/flows/basic_dashboard.json
[
    {
        "id": "upcycle_pro_tab",
        "type": "tab",
        "label": "UpCycle Pro Dashboard",
        "disabled": false,
        "info": "Dashboard principal para control y monitoreo del sistema UpCycle Pro"
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "UpCycle MQTT Broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "upcycle_node_red",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": ""
    },
    {
        "id": "ui_group_control",
        "type": "ui_group",
        "name": "Control System",
        "tab": "ui_tab_main",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui_group_status",
        "type": "ui_group",
        "name": "System Status",
        "tab": "ui_tab_main",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui_group_sensors",
        "type": "ui_group",
        "name": "PIR Sensors",
        "tab": "ui_tab_main",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "ui_group_stats",
        "type": "ui_group",
        "name": "Statistics",
        "tab": "ui_tab_main",
        "order": 4,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "ui_tab_main",
        "type": "ui_tab",
        "name": "UpCycle Pro",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "btn_vidrio",
        "type": "ui_button",
        "z": "upcycle_pro_tab",
        "name": "VIDRIO",
        "group": "ui_group_control",
        "order": 1,
        "width": "3",
        "height": "2",
        "passthru": false,
        "label": "🔵 VIDRIO",
        "tooltip": "Clasificar vidrio (Modo 1)",
        "color": "white",
        "bgcolor": "#4CAF50",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "upcycle/command/mode",
        "topicType": "str",
        "x": 200,
        "y": 100,
        "wires": [["mqtt_cmd_out", "debug_commands"]]
    },
    {
        "id": "btn_plastico",
        "type": "ui_button",
        "z": "upcycle_pro_tab",
        "name": "PLASTICO",
        "group": "ui_group_control",
        "order": 2,
        "width": "3",
        "height": "2",
        "passthru": false,
        "label": "🟠 PLASTICO",
        "tooltip": "Clasificar plástico (Modo 2)",
        "color": "white",
        "bgcolor": "#FF9800",
        "icon": "",
        "payload": "2",
        "payloadType": "str",
        "topic": "upcycle/command/mode",
        "topicType": "str",
        "x": 200,
        "y": 140,
        "wires": [["mqtt_cmd_out", "debug_commands"]]
    },
    {
        "id": "btn_metal",
        "type": "ui_button",
        "z": "upcycle_pro_tab",
        "name": "METAL",
        "group": "ui_group_control",
        "order": 3,
        "width": "3",
        "height": "2",
        "passthru": false,
        "label": "⚫ METAL",
        "tooltip": "Clasificar metal (Modo 3)",
        "color": "white",
        "bgcolor": "#9E9E9E",
        "icon": "",
        "payload": "3",
        "payloadType": "str",
        "topic": "upcycle/command/mode",
        "topicType": "str",
        "x": 200,
        "y": 180,
        "wires": [["mqtt_cmd_out", "debug_commands"]]
    },
    {
        "id": "btn_stop",
        "type": "ui_button",
        "z": "upcycle_pro_tab",
        "name": "STOP",
        "group": "ui_group_control",
        "order": 4,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "🛑 STOP SYSTEM",
        "tooltip": "Detener sistema completo",
        "color": "white",
        "bgcolor": "#F44336",
        "icon": "",
        "payload": "stop",
        "payloadType": "str",
        "topic": "upcycle/command/system",
        "topicType": "str",
        "x": 200,
        "y": 220,
        "wires": [["mqtt_cmd_out", "debug_commands"]]
    },
    {
        "id": "mqtt_cmd_out",
        "type": "mqtt out",
        "z": "upcycle_pro_tab",
        "name": "Commands to ESP32",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker",
        "x": 450,
        "y": 160,
        "wires": []
    },
    {
        "id": "mqtt_status_in",
        "type": "mqtt in",
        "z": "upcycle_pro_tab",
        "name": "Status from ESP32",
        "topic": "upcycle/status/+",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 200,
        "y": 320,
        "wires": [["process_status", "debug_status"]]
    },
    {
        "id": "mqtt_sensors_in",
        "type": "mqtt in",
        "z": "upcycle_pro_tab",
        "name": "Sensors from ESP32",
        "topic": "upcycle/sensors/+",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 200,
        "y": 360,
        "wires": [["process_sensors", "debug_sensors"]]
    },
    {
        "id": "process_status",
        "type": "function",
        "z": "upcycle_pro_tab",
        "name": "Process Status",
        "func": "// Procesar datos de estado del sistema\nconst topic = msg.topic;\nconst data = msg.payload;\n\n// Extraer el subtópico (system, motor, servos, display)\nconst subtopic = topic.split('/').pop();\n\nswitch(subtopic) {\n    case 'system':\n        msg.system_state = data.state || 'UNKNOWN';\n        msg.selected_mode = data.mode || 0;\n        break;\n    case 'motor':\n        msg.motor_running = data.running || false;\n        break;\n    case 'servos':\n        msg.servo1_state = data.servo1 || 'idle';\n        msg.servo2_state = data.servo2 || 'idle';\n        msg.servo3_state = data.servo3 || 'idle';\n        break;\n    case 'display':\n        msg.display_content = data.content || 'Unknown';\n        break;\n}\n\n// Timestamp\nmsg.timestamp = new Date().toISOString();\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 320,
        "wires": [["update_status_display"]]
    },
    {
        "id": "process_sensors",
        "type": "function",
        "z": "upcycle_pro_tab",
        "name": "Process Sensors",
        "func": "// Procesar datos de sensores PIR\nconst topic = msg.topic;\nconst data = msg.payload;\n\n// Extraer el sensor (pir1, pir2, pir3)\nconst sensor = topic.split('/').pop();\n\nswitch(sensor) {\n    case 'pir1':\n        msg.pir1_active = data.active || false;\n        msg.pir1_count = data.count || 0;\n        break;\n    case 'pir2':\n        msg.pir2_active = data.active || false;\n        msg.pir2_count = data.count || 0;\n        break;\n    case 'pir3':\n        msg.pir3_active = data.active || false;\n        msg.pir3_count = data.count || 0;\n        break;\n}\n\n// Timestamp\nmsg.timestamp = new Date().toISOString();\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 360,
        "wires": [["update_sensor_display"]]
    },
    {
        "id": "update_status_display",
        "type": "function",
        "z": "upcycle_pro_tab",
        "name": "Update Status UI",
        "func": "// Actualizar elementos de UI con datos de estado\nconst messages = [];\n\n// Sistema general\nif (msg.system_state) {\n    messages.push({\n        topic: 'system_state_text',\n        payload: msg.system_state\n    });\n    \n    // Color según estado\n    let color = 'grey';\n    if (msg.system_state === 'WAITING') color = 'orange';\n    else if (msg.system_state === 'PROCESSING') color = 'blue';\n    else if (msg.system_state === 'IDLE') color = 'green';\n    \n    messages.push({\n        topic: 'system_state_led',\n        payload: color\n    });\n}\n\n// Motor\nif (typeof msg.motor_running !== 'undefined') {\n    messages.push({\n        topic: 'motor_status_text',\n        payload: msg.motor_running ? 'RUNNING' : 'STOPPED'\n    });\n    \n    messages.push({\n        topic: 'motor_status_led',\n        payload: msg.motor_running ? 'green' : 'red'\n    });\n}\n\n// Modo seleccionado\nif (msg.selected_mode) {\n    const modes = ['NONE', 'VIDRIO', 'PLASTICO', 'METAL'];\n    messages.push({\n        topic: 'selected_mode_text',\n        payload: modes[msg.selected_mode] || 'UNKNOWN'\n    });\n}\n\nreturn [messages];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 320,
        "wires": [["status_text_system", "status_led_system", "status_text_motor", "status_led_motor", "status_text_mode"]]
    },
    {
        "id": "update_sensor_display",
        "type": "function",
        "z": "upcycle_pro_tab",
        "name": "Update Sensors UI",
        "func": "// Actualizar elementos de UI con datos de sensores\nconst messages = [];\n\n// PIR 1 (VIDRIO)\nif (typeof msg.pir1_active !== 'undefined') {\n    messages.push({\n        topic: 'pir1_led',\n        payload: msg.pir1_active ? 'green' : 'grey'\n    });\n}\n\nif (msg.pir1_count) {\n    messages.push({\n        topic: 'pir1_count',\n        payload: msg.pir1_count\n    });\n}\n\n// PIR 2 (PLASTICO)\nif (typeof msg.pir2_active !== 'undefined') {\n    messages.push({\n        topic: 'pir2_led',\n        payload: msg.pir2_active ? 'green' : 'grey'\n    });\n}\n\nif (msg.pir2_count) {\n    messages.push({\n        topic: 'pir2_count',\n        payload: msg.pir2_count\n    });\n}\n\n// PIR 3 (METAL)\nif (typeof msg.pir3_active !== 'undefined') {\n    messages.push({\n        topic: 'pir3_led',\n        payload: msg.pir3_active ? 'green' : 'grey'\n    });\n}\n\nif (msg.pir3_count) {\n    messages.push({\n        topic: 'pir3_count',\n        payload: msg.pir3_count\n    });\n}\n\nreturn [messages];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 360,
        "wires": [["pir1_led", "pir2_led", "pir3_led", "pir1_counter", "pir2_counter", "pir3_counter"]]
    },
    {
        "id": "status_text_system",
        "type": "ui_text",
        "z": "upcycle_pro_tab",
        "group": "ui_group_status",
        "order": 1,
        "width": "6",
        "height": "1",
        "name": "System State",
        "label": "System:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 920,
        "y": 280,
        "wires": []
    },
    {
        "id": "status_led_system",
        "type": "ui_led",
        "z": "upcycle_pro_tab",
        "order": 2,
        "group": "ui_group_status",
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "red",
                "valueType": "str"
            },
            {
                "color": "#ffa500",
                "value": "orange",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "green",
                "valueType": "str"
            },
            {
                "color": "#0000ff",
                "value": "blue",
                "valueType": "str"
            },
            {
                "color": "#808080",
                "value": "grey",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "System LED",
        "x": 920,
        "y": 300,
        "wires": []
    },
    {
        "id": "status_text_motor",
        "type": "ui_text",
        "z": "upcycle_pro_tab",
        "group": "ui_group_status",
        "order": 3,
        "width": "6",
        "height": "1",
        "name": "Motor Status",
        "label": "Motor:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 920,
        "y": 320,
        "wires": []
    },
    {
        "id": "status_led_motor",
        "type": "ui_led",
        "z": "upcycle_pro_tab",
        "order": 4,
        "group": "ui_group_status",
        "width": "1",
        "height": "1",
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "green",
                "valueType": "str"
            },
            {
                "color": "#ff0000",
                "value": "red",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Motor LED",
        "x": 920,
        "y": 340,
        "wires": []
    },
    {
        "id": "status_text_mode",
        "type": "ui_text",
        "z": "upcycle_pro_tab",
        "group": "ui_group_status",
        "order": 5,
        "width": "6",
        "height": "1",
        "name": "Selected Mode",
        "label": "Mode:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 920,
        "y": 360,
        "wires": []
    },
    {
        "id": "pir1_led",
        "type": "ui_led",
        "z": "upcycle_pro_tab",
        "order": 1,
        "group": "ui_group_sensors",
        "width": "2",
        "height": "1",
        "label": "PIR1 (VIDRIO)",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "green",
                "valueType": "str"
            },
            {
                "color": "#808080",
                "value": "grey",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "PIR1 LED",
        "x": 920,
        "y": 420,
        "wires": []
    },
    {
        "id": "pir2_led",
        "type": "ui_led",
        "z": "upcycle_pro_tab",
        "order": 2,
        "group": "ui_group_sensors",
        "width": "2",
        "height": "1",
        "label": "PIR2 (PLASTICO)",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "green",
                "valueType": "str"
            },
            {
                "color": "#808080",
                "value": "grey",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "PIR2 LED",
        "x": 920,
        "y": 440,
        "wires": []
    },
    {
        "id": "pir3_led",
        "type": "ui_led",
        "z": "upcycle_pro_tab",
        "order": 3,
        "group": "ui_group_sensors",
        "width": "2",
        "height": "1",
        "label": "PIR3 (METAL)",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "green",
                "valueType": "str"
            },
            {
                "color": "#808080",
                "value": "grey",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "PIR3 LED",
        "x": 920,
        "y": 460,
        "wires": []
    },
    {
        "id": "pir1_counter",
        "type": "ui_text",
        "z": "upcycle_pro_tab",
        "group": "ui_group_sensors",
        "order": 4,
        "width": "2",
        "height": "1",
        "name": "PIR1 Counter",
        "label": "Count:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 920,
        "y": 480,
        "wires": []
    },
    {
        "id": "pir2_counter",
        "type": "ui_text",
        "z": "upcycle_pro_tab",
        "group": "ui_group_sensors",
        "order": 5,
        "width": "2",
        "height": "1",
        "name": "PIR2 Counter",
        "label": "Count:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 920,
        "y": 500,
        "wires": []
    },
    {
        "id": "pir3_counter",
        "type": "ui_text",
        "z": "upcycle_pro_tab",
        "group": "ui_group_sensors",
        "order": 6,
        "width": "2",
        "height": "1",
        "name": "PIR3 Counter",
        "label": "Count:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 920,
        "y": 520,
        "wires": []
    },
    {
        "id": "debug_commands",
        "type": "debug",
        "z": "upcycle_pro_tab",
        "name": "Debug Commands",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 120,
        "wires": []
    },
    {
        "id": "debug_status",
        "type": "debug",
        "z": "upcycle_pro_tab",
        "name": "Debug Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 280,
        "wires": []
    },
    {
        "id": "debug_sensors",
        "type": "debug",
        "z": "upcycle_pro_tab",
        "name": "Debug Sensors",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 400,
        "wires": []
    }
]