microcontrolador/NodeRED_Integration/flows_example.json
[
  {
    "id": "upcyclepro_flows",
    "type": "tab",
    "label": "UpCyclePro System",
    "disabled": false,
    "info": "Flows para sistema de clasificaci칩n de materiales UpCyclePro"
  },
  {
    "id": "flow1",
    "type": "subflow",
    "name": "Material Classifier Controller",
    "info": "Control del sistema clasificador de materiales",
    "category": "UpCyclePro",
    "in": [
      {
        "x": 40,
        "y": 40,
        "wires": [{"id": "material_selector"}]
      }
    ],
    "out": [
      {
        "x": 700,
        "y": 40,
        "wires": [{"id": "status_output", "port": 0}]
      }
    ]
  },
  {
    "id": "material_selector",
    "type": "function",
    "z": "flow1",
    "name": "Material Selector",
    "func": "// Seleccionar material para clasificaci칩n\nconst materials = {\n    1: 'vidrio',\n    2: 'plastico', \n    3: 'metal'\n};\n\nlet material_id = msg.payload.material || 1;\n\nmsg.topic = 'upcyclepro/command';\nmsg.payload = {\n    action: 'classify',\n    material: material_id,\n    material_name: materials[material_id],\n    timestamp: Date.now()\n};\n\nnode.status({fill: 'green', shape: 'dot', text: `Clasificando: ${materials[material_id]}`});\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 200,
    "y": 40,
    "wires": [["mqtt_command"]]
  },
  {
    "id": "mqtt_command",
    "type": "mqtt out",
    "z": "flow1", 
    "name": "Send Command",
    "topic": "upcyclepro/command",
    "qos": "1",
    "retain": "false",
    "broker": "mqtt_broker",
    "x": 400,
    "y": 40,
    "wires": []
  },
  {
    "id": "dashboard_controller",
    "type": "ui_form",
    "z": "upcyclepro_flows",
    "name": "Material Classification Control",
    "group": "control_group",
    "order": 1,
    "width": 6,
    "height": 4,
    "options": [
      {
        "label": "Material",
        "value": "material",
        "type": "select",
        "required": true,
        "options": [
          {"label": "Vidrio", "value": 1},
          {"label": "Pl치stico", "value": 2},
          {"label": "Metal", "value": 3}
        ]
      }
    ],
    "formValue": {
      "material": 1
    },
    "payload": "",
    "submit": "Clasificar Material",
    "cancel": "Detener",
    "topic": "classify",
    "x": 180,
    "y": 80,
    "wires": [["material_selector"]]
  },
  {
    "id": "mqtt_status_in",
    "type": "mqtt in",
    "z": "upcyclepro_flows",
    "name": "Status Updates",
    "topic": "upcyclepro/status",
    "qos": "1",
    "datatype": "json",
    "broker": "mqtt_broker",
    "x": 120,
    "y": 160,
    "wires": [["status_processor"]]
  },
  {
    "id": "status_processor",
    "type": "function",
    "z": "upcyclepro_flows",
    "name": "Process Status",
    "func": "// Procesar estado del sistema\nconst status = msg.payload;\n\n// Estado actual del sistema\nmsg.system_state = status.state;\nmsg.current_material = status.material;\nmsg.mode = status.mode;\n\n// Para display en dashboard\nmsg.payload = {\n    state: status.state,\n    material: status.material || 'ninguno',\n    mode: status.mode || 0,\n    timestamp: new Date(status.timestamp).toLocaleTimeString(),\n    uptime: Math.floor(status.uptime / 60) + ' min'\n};\n\n// Cambiar color seg칰n estado\nconst stateColors = {\n    'idle': 'grey',\n    'waiting': 'yellow', \n    'processing': 'green'\n};\n\nnode.status({\n    fill: stateColors[status.state] || 'red',\n    shape: 'dot',\n    text: `${status.state}: ${status.material || 'ninguno'}`\n});\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 320,
    "y": 160,
    "wires": [["status_display", "state_chart"]]
  },
  {
    "id": "status_display",
    "type": "ui_template",
    "z": "upcyclepro_flows",
    "group": "status_group",
    "name": "System Status",
    "order": 1,
    "width": 6,
    "height": 4,
    "format": "<div style=\"padding: 10px; font-family: Arial;\">\n  <h3>游늵 Estado del Sistema</h3>\n  <div style=\"background: #f0f0f0; padding: 15px; border-radius: 5px; margin: 10px 0;\">\n    <div><strong>Estado:</strong> \n      <span ng-style=\"{color: msg.payload.state === 'processing' ? 'green' : (msg.payload.state === 'waiting' ? 'orange' : 'grey')}\">{{msg.payload.state}}</span>\n    </div>\n    <div><strong>Material:</strong> {{msg.payload.material}}</div>\n    <div><strong>Modo:</strong> {{msg.payload.mode}}</div>\n    <div><strong>칔ltima actualizaci칩n:</strong> {{msg.payload.timestamp}}</div>\n    <div><strong>Tiempo activo:</strong> {{msg.payload.uptime}}</div>\n  </div>\n</div>",
    "storeOutMessages": false,
    "fwdInMessages": true,
    "templateScope": "local",
    "x": 520,
    "y": 140,
    "wires": [[]]
  },
  {
    "id": "mqtt_sensor_in",
    "type": "mqtt in",
    "z": "upcyclepro_flows",
    "name": "Sensor Data",
    "topic": "upcyclepro/sensor",
    "qos": "1",
    "datatype": "json",
    "broker": "mqtt_broker",
    "x": 110,
    "y": 240,
    "wires": [["sensor_processor"]]
  },
  {
    "id": "sensor_processor",
    "type": "function",
    "z": "upcyclepro_flows",
    "name": "Process Sensors",
    "func": "// Procesar datos de sensores\nconst sensors = msg.payload;\n\n// Crear mensajes separados para cada sensor\nconst outputs = [];\n\n// PIR Sensors\noutputs[0] = {\n    topic: 'pir_vidrio',\n    payload: sensors.pir1 ? 1 : 0,\n    label: 'PIR Vidrio'\n};\n\noutputs[1] = {\n    topic: 'pir_plastico', \n    payload: sensors.pir2 ? 1 : 0,\n    label: 'PIR Pl치stico'\n};\n\noutputs[2] = {\n    topic: 'pir_metal',\n    payload: sensors.pir3 ? 1 : 0, \n    label: 'PIR Metal'\n};\n\n// Motor status\noutputs[3] = {\n    topic: 'motor_status',\n    payload: sensors.motor ? 1 : 0,\n    label: 'Motor Transportador'\n};\n\nreturn outputs;",
    "outputs": 4,
    "noerr": 0,
    "x": 300,
    "y": 240,
    "wires": [
      ["pir1_gauge"], 
      ["pir2_gauge"], 
      ["pir3_gauge"], 
      ["motor_indicator"]
    ]
  },
  {
    "id": "pir1_gauge",
    "type": "ui_gauge",
    "z": "upcyclepro_flows",
    "name": "PIR Vidrio",
    "group": "sensors_group",
    "order": 1,
    "width": 2,
    "height": 2,
    "gtype": "gage",
    "title": "PIR Vidrio",
    "label": "",
    "format": "{{value}}",
    "min": 0,
    "max": 1,
    "colors": ["#00b500","#e6e600","#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 480,
    "y": 200,
    "wires": []
  },
  {
    "id": "camera_stream",
    "type": "ui_template",
    "z": "upcyclepro_flows",
    "group": "camera_group",
    "name": "Camera Stream",
    "order": 1,
    "width": 8,
    "height": 6,
    "format": "<div style=\"text-align: center;\">\n  <h3>游닟 Vista de la C치mara</h3>\n  <img src=\"http://{{camera_ip}}/stream\" style=\"max-width: 100%; height: auto; border: 2px solid #ddd; border-radius: 5px;\" \n       onerror=\"this.src='data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAwIiBoZWlnaHQ9IjMwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cmVjdCB3aWR0aD0iNDAwIiBoZWlnaHQ9IjMwMCIgZmlsbD0iI2YwZjBmMCIvPjx0ZXh0IHg9IjUwJSIgeT0iNTAlIiBkb21pbmFudC1iYXNlbGluZT0iY2VudHJhbCIgdGV4dC1hbmNob3I9Im1pZGRsZSIgZm9udC1mYW1pbHk9IkFyaWFsIiBmb250LXNpemU9IjE2Ij7CqENhbWFyYSBObyBEaXNwb25pYmxlPC90ZXh0Pjwvc3ZnPg==';\"/>\n  <br><br>\n  <button ng-click=\"send({payload: {action: 'capture'}})\" style=\"background: #007bff; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;\">游닞 Capturar Imagen</button>\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": false,
    "templateScope": "local",
    "x": 480,
    "y": 340,
    "wires": [["camera_command"]]
  },
  {
    "id": "camera_command",
    "type": "mqtt out",
    "z": "upcyclepro_flows",
    "name": "Camera Command",
    "topic": "camera/command",
    "qos": "1",
    "retain": "false",
    "broker": "mqtt_broker",
    "x": 700,
    "y": 340,
    "wires": []
  },
  {
    "id": "http_capture",
    "type": "http request",
    "z": "upcyclepro_flows",
    "name": "Capture Image",
    "method": "GET",
    "ret": "bin",
    "paytoqs": false,
    "url": "http://192.168.1.100/capture",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 180,
    "y": 420,
    "wires": [["save_image"]]
  },
  {
    "id": "save_image",
    "type": "file",
    "z": "upcyclepro_flows",
    "name": "Save Capture",
    "filename": "/data/captures/capture_{{timestamp}}.jpg",
    "appendNewline": false,
    "createDir": true,
    "overwriteFile": "true",
    "encoding": "none",
    "x": 380,
    "y": 420,
    "wires": [["image_analysis"]]
  },
  {
    "id": "image_analysis",
    "type": "function",
    "z": "upcyclepro_flows",
    "name": "AI Analysis",
    "func": "// Simular an치lisis de IA para clasificaci칩n de materiales\n// En producci칩n, aqu칤 ir칤a la integraci칩n con modelo de IA\n\nconst materials = ['vidrio', 'plastico', 'metal', 'otros'];\nconst confidence = Math.random() * 100;\nconst detected_material = materials[Math.floor(Math.random() * materials.length)];\n\nmsg.payload = {\n    material: detected_material,\n    confidence: confidence.toFixed(2),\n    timestamp: Date.now(),\n    image_path: msg.filename,\n    recommendation: confidence > 80 ? `Clasificar como ${detected_material}` : 'Revisi칩n manual requerida'\n};\n\nnode.status({\n    fill: confidence > 80 ? 'green' : 'yellow',\n    shape: 'dot',\n    text: `${detected_material} (${confidence.toFixed(1)}%)`\n});\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 580,
    "y": 420,
    "wires": [["analysis_result"]]
  },
  {
    "id": "analysis_result",
    "type": "ui_text",
    "z": "upcyclepro_flows",
    "group": "analysis_group",
    "order": 1,
    "width": 6,
    "height": 2,
    "name": "AI Analysis Result",
    "label": "游뱄 Resultado del An치lisis:",
    "format": "{{msg.payload.material}} ({{msg.payload.confidence}}%)<br><small>{{msg.payload.recommendation}}</small>",
    "layout": "row-spread",
    "x": 780,
    "y": 420,
    "wires": []
  },
  {
    "id": "production_stats",
    "type": "function",
    "z": "upcyclepro_flows",
    "name": "Production Stats",
    "func": "// Estad칤sticas de producci칩n\nconst stats = context.get('production_stats') || {\n    vidrio: 0,\n    plastico: 0, \n    metal: 0,\n    total: 0,\n    start_time: Date.now()\n};\n\nif (msg.payload && msg.payload.material) {\n    const material = msg.payload.material;\n    if (stats[material] !== undefined) {\n        stats[material]++;\n        stats.total++;\n    }\n}\n\ncontext.set('production_stats', stats);\n\nconst runtime_hours = (Date.now() - stats.start_time) / (1000 * 60 * 60);\nconst rate_per_hour = runtime_hours > 0 ? (stats.total / runtime_hours).toFixed(1) : 0;\n\nmsg.payload = {\n    ...stats,\n    runtime_hours: runtime_hours.toFixed(2),\n    rate_per_hour: rate_per_hour,\n    efficiency: stats.total > 0 ? ((stats.vidrio + stats.plastico + stats.metal) / stats.total * 100).toFixed(1) : 0\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 300,
    "y": 500,
    "wires": [["stats_display"]]
  },
  {
    "id": "stats_display",
    "type": "ui_chart",
    "z": "upcyclepro_flows",
    "name": "Production Chart",
    "group": "stats_group",
    "order": 1,
    "width": 8,
    "height": 4,
    "label": "Materiales Procesados",
    "chartType": "bar",
    "legend": "true",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "Sin datos",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": "24",
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "colors": ["#1f77b4","#ff7f0e","#2ca02c","#d62728"],
    "x": 520,
    "y": 500,
    "wires": [[]]
  },
  {
    "id": "mqtt_broker",
    "type": "mqtt-broker",
    "name": "Local MQTT",
    "broker": "localhost",
    "port": "1883",
    "clientid": "nodered_upcyclepro",
    "usetls": false,
    "compatmode": false,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "nodered/status",
    "birthQos": "1",
    "birthPayload": "online",
    "closeTopic": "nodered/status",
    "closeQos": "1",
    "closePayload": "offline",
    "willTopic": "",
    "willQos": "1",
    "willPayload": ""
  },
  {
    "id": "control_group",
    "type": "ui_group",
    "name": "Control",
    "tab": "main_tab",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "status_group",
    "type": "ui_group", 
    "name": "Estado del Sistema",
    "tab": "main_tab",
    "order": 2,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "sensors_group",
    "type": "ui_group",
    "name": "Sensores",
    "tab": "main_tab", 
    "order": 3,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "camera_group",
    "type": "ui_group",
    "name": "C치mara",
    "tab": "main_tab",
    "order": 4,
    "disp": true,
    "width": "8",
    "collapse": false
  },
  {
    "id": "analysis_group",
    "type": "ui_group",
    "name": "An치lisis IA",
    "tab": "main_tab",
    "order": 5,
    "disp": true,
    "width": "6", 
    "collapse": false
  },
  {
    "id": "stats_group",
    "type": "ui_group",
    "name": "Estad칤sticas",
    "tab": "main_tab",
    "order": 6,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "main_tab",
    "type": "ui_tab",
    "name": "UpCyclePro Dashboard",
    "icon": "dashboard",
    "order": 1,
    "disabled": false,
    "hidden": false
  }
]